{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Newsletter Unsubscribe
{% endblock %}

{% block content %}
<div class="container">
    <div class="row table-glass center">
        <div class="col-12">
            <h1>Unsubscribe from our newsletter</h1>
            <hr>
        </div>
        <div class="col-12 text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary px-3" type="submit">unsubscribe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}