{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Products
{% endblock %}

{% block content %}
<div class="container-md  container-cart justify-content-center">
    <div class="row">
        {% if product_count > 0 %}
        <div class="col-12">
            <hr>
            <h1>
                My Cart
            </h1>
            <span><button class="btn btn-primary px-3"><a href="{% url 'products' %}">continue shopping
                        ></a></button></span>
            <hr>
        </div>
        <br>
    </div>

    <div class="row">
        <table class="table table-sm  table-hover table-glass">
            <thead>
                <tr>
                    <th scope="col-3">Product Info</th>
                    <th scope="col-3">Price</th>
                    <th scope="col-3">Qty</th>
                    <th scope="col-3">Modify</th>

                </tr>
            </thead>

            {% for item in cart_items %}
            <tr class="align-middle">
                <td>
                    <p class="my-0"><strong>{{ item.product.name }} in {{ item.material}} </strong></p>
                    <img class="img-cart" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                </td>
                <td>
                    <p class="my-0"><strong>{{ item.product.price }}</strong><i class="fas fa-euro-sign"></i></p>
                </td>
                <td>
                    <div class="quantity-form col-sm w-50">
                        <form method="POST" action="#"></form>
                        <!--                       <form method="POST" action="{% url 'amend_cart' item.product.id %}"> -->
                        {% csrf_token %}
                        <div class="input-group align-middle">
                            <input name="quantity" type="number" min="1" max="10" class="form-control"
                                placeholder="Quantity" value='{{item.quantity}}'>

                            <div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary amend-btn"><span
                                            aria-hidden="true"></span>Amend</button>
                                </span>
                            </div>
                        </div>
                        </form>
                    </div>

                </td>
                <td>

                    <div class="quantity-form col-sm my-0">

                        <span>
                            <form method="POST" action="{%url 'remove_item' item.product.id %}">
                                {% csrf_token %}


                                <button type="submit" class="btn btn-outline-danger remove-item-btn">Remove</button>


                            </form>
                        </span>
                    </div>

                </td>

            </tr>
            {% endfor %}
            <div class="col-md-4 col-sm-12">


                <table class="table table-glass">

                    <thead>
                        <tr>
                            <th class="tr-total-table" scope="col">Total</th>
                        </tr>
                        <tr>

                        </tr>
                    </thead>
                    <tr>
                        <td> <span class=" float-right" id="total">{{ total }}
                                <i class="fas fa-euro-sign"></i></span>
                        </td>
                        <td>
                            <button class="btn btn-primary px-3" href="">Check Out!</button>
                        </td>
                    </tr>
                </table>
        </table>
    </div>


    {%else%}
    <div class="row">
        <div class="cart-empty">
            <div class="col-12">
                <hr>
                <h1>Your cart is empty</h1>
                <hr>
                <button class="btn btn-primary px-3"><a href="{% url 'products' %}">Back to
                        shop</a></button>

            </div>
            <div class="col-12">
                <p>Or explore the world of buhurt</p>
                <button class="btn btn-primary px-3"><a href="{% url 'products' %}">Home</a></button>
                <button class="btn btn-primary px-3"><a href="{% url 'products' %}">About Us</a></button>

            </div>
        </div>

    </div>


    {% endif %}
</div>
</div>
{% endblock %}