{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Home
{% endblock %}


{% block content %}
{% include 'includes/header-carousel.html' %}
<div class="container" id="how-to-start">
    <div class="row table-glass align-middle">
        <div class="col-12 col-lg-6 text-center align-middle">
            <h1>What is Buhurt?</h1>
            <p>
                Buhurt is the most awesome team sport ever!
                Have you ever dreamed of wearing armor and fighting it?
            </p>
            <p>
                This sport will let you! using blunted weapons - and thanks to the armor, it’s safer than any other
                full-contact team sport!
                The most popular event types are 5 vs 5, 12 vs 12, 30 vs 30, and the spectacular 150 vs 150!
            </p>
            <p>
                The rules are mostly simple. The most important rule is that you need to stay on your feet. As
                soon as you have a third point of contact with the ground - whether with a hand, arm, knee,
                head, or even your butt - you are out and must stay on the ground where you fell until the end of
                the round.
            </p>
        </div>
        <div class="col-12 col-lg-6 embed-responsive embed-responsive-4by3 text-center align-middle ">
            <iframe src="https://www.youtube.com/embed/tpddOvsohR4" class="embed-responsive-item"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/IkDDBL7jNew" class="embed-responsive-item"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="row table-glass align-middle">
        <div class="col-12 col-lg-6 embed-responsive embed-responsive-4by3 text-center align-middle">
            <iframe src="https://www.youtube.com/embed/g0aReJrBruk" class="embed-responsive-item"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/H8ugjAmKR3c" class="embed-responsive-item"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
        <div class="col-12 col-lg-6 text-center text-center align-middle">
            <h1>So here we are at your service!</h1>
            <p>
                with the passion for this sport we started to create armor and weapons
                that respect the rules of this sport!
            </p>
            <p>
                When the armor and weapons follow the regulations and are made well, you can battle against
                your friends for entire days while using steel axes and swords - and remain uninjured.
            </p>
            <p>
                so what are you waiting for?
                <a class="btn btn-primary px-3" href="{% url 'products' %}">Visit our shop</a>
                and get ready for battle
            </p>
        </div>
    </div>
</div>

{% endblock %}