{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Payment Card Security
{% endblock %}


{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-12 table-glass center text-center">
            <h1>
                Payment Card Security
            </h1>
            <hr>
            <p>
                Shopping with a credit card at our shop is guaranteed safe and secure.
            </p>
            <p>
                Payments on our site are made using the payment system Stripe and go through a fraud detection
                system. The system contains more than 300 rules according to which intruders are detected.

            </p>
            <p>
                The Stripe platforms use advanced encryption technologies. They provide data transfer between
                the client’s browser and the payment system via a secure channel. Thus, SSL-certificate informs site
                visitors that you can trust our resource.

            </p>

            <p>
                This software encrypts all of your personal information in unrecognizable code that is safely
                transmitted from you to us. When this encrypted information gets to our secure server, we transfer it
                back to its original form and store it in a secure mode offline, inaccessible via the Internet.

            </p>
            <p>
                We want to make <strong>your shopping experience</strong> in our store<strong> safe.</strong>

            </p>





        </div>
    </div>
</div>
{% endblock %}