{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Shipping and Payment
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 table-glass center text-center">
            <h1>
                Privacy Policy
            </h1>
            <hr>
            <p>
                We appreciate our customers’ right to protection of their personal data, and we process them properly.
                We will never sell your personal information to third parties. If you will make an order with us, we
                will have such information about you:
            </p>

            <ul>
                <li>Your name </li>
                <li>E-mail address </li>
                <li>Phone number </li>
                <li>Order data that you provide to us</li>
                <li>The address to which the goods will be sent</li>

            </ul>

            <p>
                We need this information in order to communicate with you about the goods and to fulfill your order
                well. And for nothing more. We will need to provide your address and telephone number (if it is with us)
                to the postal service to send the goods. We can notify you of our company news and offers by e-mail but
                only if you want it and allow us to send you notifications.
            </p>
            <p>
                We do not transfer the data of our customers to a third party, unless it is provided by law or it is not
                necessary to solve the problem with your order.
            </p>
            <p>
                Financial information is only stored on the payment server of the company that carry out payments
            </p>
            <p>
                Contractors participating in the production cycle receive only the
                order code, your name, but not your address or e-mail address.
            </p>


        </div>
    </div>
</div>
{% endblock %}