{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Shipping and Payment
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 table-glass center text-center">
            <h1>
                Prices and payment
            </h1>
            <hr>
            <p>
                Prices are listed on the website in euros (EUR). Please note that any other currency will be converted
                to euros when paying.

                You can pay for your order using a credit card (Visa, MasterCard).
            </p>
        </div>
        <div class="col-12 table-glass center text-center">
            <h1>
                Shipping and Warranty
            </h1>
            <hr>
            <p>
                We can provide you with a tracking number. Delivery takes 16-21 days in most countries.
            </p>
            <p>
                to these we must also add the manufacturing times
            </p>
            <p>
                the total wait <strong>could reach up to two months</strong> in total to three for particularly large
                orders
            </p>
            <p>
                Claims are not accepted in case of the wrong address, an absence of the recipient at the stated address
                at the time of delivery, unclaimed parcels. In such cases, the order will be sent to you again at your
                expense. Please, note that taxes or customs fees aren’t included in the prices at our site. But, we will
                do our best to assist you in customs matters, if any (for example, documents and invoices).
            </p>
            <p>
                Also, please note that we use your form address as the default shipping address. If your mailing
                address is different contact us
            </p>
        </div>
    </div>
</div>
{% endblock %}