{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/stripe.css' %}">
{% endblock %}

{% block extra_title %}
Success
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">

        <div class="col-lg-8 float-lg-left">
            <div class="row table-glass text-center">
                <div class="col-12">
                    <hr>
                    <h1>Thank You!</h1>
                    <p> your order information:</p>

                </div>
                <div class="col-12 ">
                    <hr>
                    <h2> Your Order: </h2>
                    <hr>
                    <p>Order Number: {{ order.order_number }}</p>
                    <p>Order Total: {{ order.order_total}}<i class="fas fa-euro-sign"></i> shipping included </p>

                </div>
                <div class="col-12 ">
                    <hr>
                    <h2> Delivered to: </h2>
                    <p> {{ order.full_name}} in {{ order.street_address1 }}</p>
                    <p> {{ order.town_or_city}} {{ order.postcode }}, {{ order.county }}, {{ order.country }}</p>
                    <hr>
                </div>
                <div class="col-12">
                    <a class="btn btn-primary px-3" href="{% url 'products' %}">Back to
                        shop</a>
                </div>





            </div>

        </div>




    </div>
</div>
{% endblock %}