@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&family=UnifrakturCook:wght@700&display=swap');

/* CSS rules to specify families 
font-family: 'Signika Negative',
sans-serif;
font-family: 'UnifrakturCook',
cursive; */



body {
    position: absolute;
    top: 9em;
    font-family: 'Signika Negative', sans-serif;
    color: #131916;
    background-color: #264025;
}

/* center element */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a,
li,
span {
    text-decoration: none;
    color: #131916;
}

li {
    padding: 1em 1rem;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    color: #264025;
    font-size: xx-large;
}



a:hover {
    color: antiquewhite;
}

/* ---------- nav bar */
.bg-nav {
    background-color: #051D03;

}

.navbar-brand {
    font-family: 'UnifrakturCook', cursive;
    color: antiquewhite;
}

.navbar {
    font-family: 'Signika Negative', sans-serif;
    color: #17191C;
}

.navbar-toggler-icon {
    color: antiquewhite;
}

/* ----------- header carousel */
.carousel.slide {
    padding: 1rem .5rem;
}

.carousel-caption {
    background-color: rgba(78, 82, 67, 0.4);
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px;
}


.carousel-item img {
    border-radius: 5px;
    max-height: 500px;
    max-width: 500px;

}

/* ----------- footer */

footer {
    background-color: #4E5243;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

h4.footer {
    padding-bottom: 1.5rem;
}


.li-social {
    display: inline;
    padding: 0 10px;
}

/*------------- Products page */

.card {
    background-color: #4E5243;
    width: 300px;

    padding: 10px;
    border: 1px solid #051D03;
    margin: 10px auto;
}

.inner-card {
    background: #264025;
    color: antiquewhite;
    padding: 10px;
    border-radius: 5px
}

.inner-card:hover {
    box-shadow: 4px 5px 5px 2px #051D03;
    transform: scale(1.1)
}

.img-fluid.rounded {
    height: 350px;
    width: 350px;
}

.btn:focus {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: none
}

.btn {
    margin: 5px;
}

/*------------ product detail page */

.card-detail {
    color: antiquewhite;
    font-weight: 600;
}

.img-detail {
    background-color: #4E5243;
    padding: 10px;
    border: 1px solid #051D03;
}

/*------------Media Queries--------*/

@media (max-width: 991px) {}