{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
MyAccount
{% endblock %}

{% block content %}
<div class="conteiner">
    <div class="row center table-glass">
        {% if user.is_authenticated %}

        <h1> Welcome Back {{ account }}!</h1>

        <ul class="list-inline center text-center">
            <li> <a class="btn btn-primary px-3 list-inline-item" href="{% url 'orderhistory' %}">See your Order
                    History</a> </li>
            <li> <a class="btn btn-primary px-3 list-inline-item" href="#">Add shipping information</a> </li>
            {% if request.user.is_superuser %}
            <li> <a class="btn btn-primary px-3 list-inline-item" href="{% url 'add_product' %}">Add Product</a></li>
            <li> <a class="btn btn-primary px-3 list-inline-item" href="{% url 'add_product' %}">Send Newsletter!</a>
            </li>
            {% endif %}


        </ul>


        {% else %}
        <div class="col-12">
            <p>
                You are not registered. To access this function:
            </p>
            <p>
                <a class="btn btn-primary px-3" href="{% url 'account_signup' %}">Create an account</a>
                or
                <a class="btn btn-primary px-3" href="{% url 'account_login' %}">LogIn</a>
                if you are registered
            </p>


        </div>

        {% endif %}
    </div>
</div>
{% endblock %}