{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
MyAccount order history
{% endblock %}

{% block content %}
<div class="container">
    <div class="row center table-glass">
        {% if user.is_authenticated %}

        <h1> Your order history </h1>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col-3">Order Code</th>
                    <th scope="col-3">Total</th>
                    <th scope="col-3">Date</th>

                </tr>
            </thead>

            {% for order in accounts_orders_list %}

            <tr>
                <td>{{order.order_number|truncatechars:9}}</td>
                <td>{{order.order_total}}€ </td>
                <td>{{order.date}}</td>
            </tr>
            {% endfor%}

        </table>

        {% else %}
        <div class="col-12">
            <p>
                You are not registered. To access this function:
            </p>
            <p>
                <a class="btn btn-primary px-3" href="{% url 'account_signup' %}">Create an account</a>
                or
                <a class="btn btn-primary px-3" href="{% url 'account_login' %}">LogIn</a>
                if you are registered
            </p>


        </div>

        {% endif %}
    </div>
</div>
{% endblock %}