{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
MyAccount order history
{% endblock %}

{% block content %}
<div class="conteiner">
    <div class="row center table-glass">
        {% if user.is_authenticated %}

        <h1> Welcome Back {{ user.username }}!</h1>

        {% for order in user_order %}
        <tr>
            <td>{{order.order_number}}</td>
            <td>{{order.order_total}}</td>
            <td>{{order.date}}</td>
        </tr>
        {% endfor%}


        {% else %}
        <div class="col-12">
            <p>
                You are not registered. To access this function:
            </p>
            <p>
                <a class="btn btn-primary px-3" href="{% url 'account_signup' %}">Create an account</a>
                or
                <a class="btn btn-primary px-3" href="{% url 'account_login' %}">LogIn</a>
                if you are registered
            </p>


        </div>

        {% endif %}
    </div>
</div>
{% endblock %}